{% extends 'base.html' %}

{% block title %}フォルダに追加{% endblock %}

{% block content %}
<h1>{{ song.title }} をフォルダに追加</h1>

{% if user_folders %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h6><br></h6>
        <button type="submit">追加</button>
    </form>
    <h2><br><br><br><br><br><br><br></h2>
{% else %}
    <p>フォルダがありません。フォルダを作成してください。またはすでに登録されています。</p>
    <h2><br><br><br><br><br><br><br><br><br><br></h2>
{% endif %}

<h6><br></h6>

<a href="{% url 'list-ongaku' %}" class="btn">戻る</a>
<h6><br></h6>

{% block is_authenticated %}
{% endblock %}

{% endblock %}
