{% extends 'base.html' %}

{% block title %}音楽修正{% endblock %}

{% block content %}

<style>
    textarea[name="text"], input[name="category"], input[name="title"], input[name='ongaku_url']{
        border: 2px solid #fad5e2; /* ピンク系の枠線 */
        padding: 10px;
        border-radius: 5px;
        width: 100%; /* フル幅に設定 */
        margin-bottom: 20px; /* フィールド間に余白を追加 */
    }

    button, input[type="submit"] {
        background-color: #ff2583; /* 明るいピンク */
        color: #f4f4f4;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 20px; /* ボタンに余白を追加 */
        cursor: pointer;
    }
</style>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- タイトル入力 -->
        <div class="p-2">
            <label for="title">タイトル</label>
            {{ form.title }}
        </div>
        
        <!-- 音楽ファイルの表示 -->
        <div class="p-2">
            {% if form.instance.audio_file %}
                <p>現在の音楽ファイル:</p>
                <audio controls>
                    <source src="{{ form.instance.audio_file.url }}" type="audio/mpeg">
                    お使いのブラウザは音声再生に対応していません。
                </audio>
            {% else %}
                <p>音楽ファイルがありません。</p>
            {% endif %}
            
            <label for="id_audio_file">新しい音楽ファイルを選択</label>
            <input type="file" name="audio_file">
        </div>
        
        <!-- サムネイルの表示 -->
        <div class="p-2">
            <label for="thumbnail">現在のサムネイル</label>
            {{ form.thumbnail }}
        </div>

        <!-- 歌詞入力 -->
        <div class="p-2">
            <label for="id_text">歌詞</label>
            <div>
                <textarea id="id_text" name="text" rows="15" cols="45%">{{ form.text.value }}</textarea>
            </div>
        </div>
        
        
        
        <!-- ジャンルの選択 -->
        <div class="p-2">
            <label for="category">ジャンル</label>
            {{ form.category }}
        </div>

        <div class="p-2">
            <label for="category">キーワード</label>
            {{ form.custom_category }}
            <span><p style="color: gray;">検索時に見つかりやすくなります。<br>(一言書いても大丈夫なので自由に書いてください)</p></span>
        </div>

        <div class="form-group p-2">
            <label for="ongaku_url">この曲のURL</label>
            <input type="url" name="ongaku_url" id="ongaku_url" class="form-control font-weight-bold text-dark" value="{{ form.ongaku_url.value|default:'' }}">
            <small><p style="color: gray;">この曲のウェブサイトや音楽リンクを必ず入力してください。</p></small>
        </div>
        
        <div class="p-2">
            <label for="is_public">公開設定</label>
            {{ form.is_public }}
            <div>
                <small>公開にする場合はチェックを入れてください。</small>
            </div>
        </div>   

        <!-- 修正ボタン -->
        <div class="p-2">
            <button type="submit" class="mt-4" value="修正する">修正する</button>
        </div>
    </form>
    {% block is_authenticated %}
    {% endblock %}
{% endblock %}
