{% extends 'base.html' %}

{% block title %}
    {% if user.userprofile.display_name == None %}
        {{ user.userprofile.display_name|default:"匿名" }}{{ user.id }}
    {% else %}
        {{ user.userprofile.display_name|default:"匿名" }}
    {% endif %}
    のプロフィール
{% endblock %}

{% block content %}
<style>
    a {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }
</style>

<div class="c-3 m-4 bg-light rounded" type="kasane">
    <div class="border border_color p-4 mb-4">
        <div class="profile-container">
            <h1>
                {% if user.userprofile.profile_picture %}
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="プロフィール画像" class="profile-picture">
                {% endif %}
                <!-- 名前とプロフィール画像を横並びに表示 -->
                <span class="display-name">
                    {% if user.userprofile.display_name == None %}
                        {{ user.userprofile.display_name|default:"匿名" }}{{ user.id }}
                    {% else %}
                        {{ user.userprofile.display_name|default:"匿名" }}
                    {% endif %}のプロフィール
                </span>
            </h1>
        </div>
        <h6><br></h6>

        <h4>一言</h4><h5 style="white-space: pre-line;"><br>{{ profile.bio|default:"なし" }}</h5>
        <h6><br><br></h6>
        {% if not user == request.user %}
            <p><strong>フォロワー数:</strong> {% if follower_count %}{{ follower_count }}{% else %}0{% endif %}</p>
            <p><strong>フォロー数:</strong> {% if following_count %}{{ following_count }}{% else %}0{% endif %}</p>
        {% endif %}
        <!-- フォローボタン -->
        {% if not is_own_profile %}
            <form method="POST" action="{% url 'follow' user.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if is_following %} フォロー解除 {% else %} フォローする {% endif %}
                </button>
            </form>
        {% endif %}
        
        <h6><br><br></h6>
        
        {% if profile.youtube_url %}
            <p>YouTube URL: <a href="{{ profile.youtube_url }}" target="_blank">{{ profile.youtube_url }}</a></p>
            <h6><br><br></h6>
        {% endif %}
        
        {% if profile.twitter_url %}
            <h6><br><br></h6>
            <p>X(旧Twitter) URL: <a href="{{ profile.twitter_url }}" target="_blank">{{ profile.twitter_url }}</a></p>
        {% endif %}    
        
        <script>
            document.getElementById('follow-form').addEventListener('submit', function(event) {
                event.preventDefault();  // デフォルトのフォーム送信をキャンセル
                
                var form = this;
                var url = form.action;
                var method = form.method;
                var csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;
        
                fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // ボタンを切り替える
                        var button = form.querySelector('button');
                        if (button.textContent === "フォローする") {
                            button.textContent = "フォロー解除";
                            button.classList.remove('btn-success');
                            button.classList.add('btn-danger');
                        } else {
                            button.textContent = "フォローする";
                            button.classList.remove('btn-danger');
                            button.classList.add('btn-success');
                        }
                    }
                });
            });
        </script>

        <h6><br><br></h6>

        <h2>作品リスト</h2>
        <span>※ 公開設定されてないものは表示されていません</span>
        
            {% for song in songs %}
                {% if song.is_public %}
                    <ul style="margin-left: 5px;">
                        <h4 style="margin-left: -45px; margin-top: 20px;"><li><h5><a href="{% url 'detail-ongaku' song.pk %}">{{ song.title }}</a></h5></li></h4>
                    </ul>
                {% endif %}
            {% empty %}
                <h5>まだ曲を作成していません。</h5>
            {% endfor %}

        <h6><br><br><br><br></h6>

        <div style="display: flex; width: 100%; margin: 0 auto;">
            <div class="pagination" style="display: inline-flex;">
                <a href="{% url 'list-ongaku' %}" class="btn p-1">一覧へ</a>
                {% if user == request.user %}
                    <p style="color: #e8e8e8; margin: 0 10px; margin-top: 5px;">|</p>
                    <a class="btn p-1" href="{% url 'profile_list' %}">プロフィール設定に戻る</a>
                {% endif %}
            </div>
        </div>

        <p><br><br></p>
        <div>
            <p class="responsive-line">ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
        </div>
        <!-- フォロー/フォロワー表示切り替えボタン -->
        {% if user == request.user %}
            <div class="toggle-buttons">
                <button id="toggle-following" onclick="toggleList('following-list')">フォローリスト</button>
                <button id="toggle-followers" onclick="toggleList('followers-list')">フォロワーリスト</button>
            </div>
        {% endif %}
        
        <style>
            .responsive-line {
                width: 100%; /* 幅を100%に設定して親要素に合わせる */
                white-space: nowrap; /* テキストが折り返されないようにする */
                overflow: hidden; /* 親要素からはみ出さないようにする */
            }

            /* 名前とプロフィール画像を横並びに配置 */
            .profile-container {
                display: flex;
                align-items: center;
            }

            /* プロフィール画像のサイズをさらに小さく調整 */
            .profile-picture {
                width: 70px;  /* 画像サイズを20pxに縮小 */
                height: 70px; /* 高さも20pxに調整 */
                margin-left: 10px;
                border-radius: 20%; /* 画像を丸くする */
            }
        </style>
        
        
        {% if user == request.user %}
            <p><strong>フォロワー数:</strong> {% if follower_count %}{{ follower_count }}{% else %}0{% endif %}</p>
            <p><strong>フォロー数:</strong> {% if following_count %}{{ following_count }}{% else %}0{% endif %}</p>
        {% endif %}

        <div id="following-list" style="display: none;">
            <h3>あなたのフォロー中のユーザーリスト</h3>
            {% if followed_users %}        
                <ul style="margin-left: -40px;">
                    {% for user in followed_users %}
                        <h4>
                            <li>
                                <a href="{% url 'profile' user.pk %}">
                                    {% if user.userprofile.display_name == None %}
                                        {{ user.userprofile.display_name|default:"匿名" }}{{ user.id }}
                                    {% else %}
                                        {{ user.userprofile.display_name|default:"匿名" }}
                                    {% endif %}
                                </a>
                            </li>
                        </h4>
                    {% endfor %}
                </ul>
            {% else %}
                <p>あなたのフォロー中のユーザーはまだいません。</p>
            {% endif %}
        </div>

        <!-- フォロワーリスト -->
        <div id="followers-list" style="display: none;">
            <h3>あなたのフォロワーリスト</h3>
            {% if follower_users %}
                <ul style="margin-left: -40px;">
                    {% for user in follower_users %}
                        <h4>
                            <li>
                                <a href="{% url 'profile' user.pk %}">
                                    {% if user.userprofile.display_name == None %}
                                        {{ user.userprofile.display_name|default:"匿名" }}{{ user.id }}
                                    {% else %}
                                        {{ user.userprofile.display_name }}
                                    {% endif %}
                                </a>        
                            </li>
                        </h4>
                    {% endfor %}
                </ul>
            {% else %}
                <p>フォロワーはまだいません。</p>
            {% endif %}
        </div>

        <h1><br><br></h1>


        <script>
            function toggleList(listId) {
                document.getElementById('following-list').style.display = 'none';
                document.getElementById('followers-list').style.display = 'none';
        
                document.getElementById(listId).style.display = 'block';
            }
        
            // 初期表示をフォローリストに設定
            toggleList('following-list');
        </script>

    </div>
</div>
{% block is_authenticated %}
{% endblock %}

{% endblock %}
