<!-- request_detail.html -->

{% extends 'base.html' %}
{% block title %}リクエスト詳細{% endblock %}

{% block content %}
{% block is_search %}
{% endblock %}
<style>
    .responsive-line {
        margin-top: 40px;
        width: 100%; /* 幅を100%に設定して親要素に合わせる */
        white-space: nowrap; /* テキストが折り返されないようにする */
        overflow: hidden; /* 親要素からはみ出さないようにする */
    }

    /* 名前とプロフィール画像を横並びに配置 */
    .profile-container {
        display: flex;
        align-items: center;
    }

    /* プロフィール画像のサイズをさらに小さく調整 */
    .profile-picture {
        width: 30px;  /* 画像サイズを20pxに縮小 */
        height: 30px; /* 高さも20pxに調整 */
        margin-left: 10px;
        border-radius: 20%; /* 画像を丸くする */
    }

    .btn:hover {
        font-weight: bold;
    }
</style>

<div class="container mt-5">
    <h2 style="text-align: center;">リクエスト詳細</h2>
    <div style="margin-top: -20px;">
        <p class="responsive-line">ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    </div>
    <h5 style="white-space: pre-line; margin-top: 40px;">
        <div style="margin-top: -50px;">
            {{ request.text }}
        </div>
    </h5>
    <p><br></p>
    <h5 style="margin-top: -20px;"><strong>投稿者:</strong>
        {% if request.user.userprofile.profile_picture %}
            <img src="{{ request.user.userprofile.profile_picture.url }}" alt="プロフィール画像" class="profile-picture">
        {% endif %}
        <a href="{% url 'profile' request.user.pk %}">
            {% if request.user.userprofile.display_name == None %}
                {{ request.user.userprofile.display_name|default:"匿名" }}{{ request.user.id }}
            {% else %}
                {{ request.user.userprofile.display_name|default:"匿名" }}
            {% endif %}
        </a> | <strong>リクエスト作成日:</strong> {{ request.created_at|date:"Y-m-d H:i" }}
    </h5>

    <h3 style="margin-top: 70px;">コメント</h3>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item" style="margin-left: -40px;">
                <strong>コメントしたユーザー:
                    <a href="{% url 'profile' comment.user.pk %}">
                    {% if comment.user.userprofile.profile_picture %}
                        <img src="{{ comment.user.userprofile.profile_picture.url }}" alt="プロフィール画像" class="profile-picture">
                    {% endif %}
                    {% if comment.user.userprofile.display_name == None %}
                        {{ comment.user.userprofile.display_name|default:"匿名" }}{{ comment.user.id }}
                    {% else %}
                        {{ comment.user.userprofile.display_name|default:"匿名" }}
                    {% endif %}</a>
                </strong>
                <h5 style="word-wrap: break-word; word-break: break-word; white-space: normal; white-space: pre-line; margin-top: 10px;">{{ comment.text }}<br>
                    {% if comment.url %}
                        <p style="font-size: 0.8em; margin-top: -20px;">関連リンク: <a href="{{ comment.url }}" target="_blank" style="word-wrap: break-word; word-break: break-word; white-space: normal; transition: color 0.3s ease, text-decoration 0.3s ease; max-width: 100%;">{{ comment.url }}</a></p>
                    {% endif %}
                </h5>
                <p class="text-muted" style="margin-top: -50px;">コメント作成日: {{ comment.created_at|date:"Y-m-d H:i" }}</p>
                {% if comment.user == user %}
                    <a class="btn p-1" href="{% url 'delete_comment' comment.id %}" style="margin-left: -5px; margin-top: -15px;">コメントを削除</a>
                {% endif %}
            </li>
        {% empty %}
            <h5 style="margin-left: -40px;"><br>現在はありません<br><br><br></h5>
        {% endfor %}
    </ul>
    <div style="margin-top: -20px; color: #ff4081;">
        <p class="responsive-line">ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    </div>
    <h4 class="mt-4">コメントを投稿</h4>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_text">コメントを記入</label>
            <textarea class="form-control" name="text" id="id_text" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="id_url">関連URL (任意)</label>
            <input type="url" class="form-control" name="url" id="id_url" placeholder="https://example.com">
        </div>
        <button type="submit" style="width: 140px; height: 50px;" class="hover-button">コメント投稿</button>
    </form>

    <a href="{% url 'request_view' %}" class="btn mt-3" style="background-color: #fff;">リストに戻る</a>
</div>
{% block is_authenticated %}
{% endblock %}

{% endblock %}
